body{
  background-color: #021613F0;
  color: antiquewhite;
}

.navbar,footer{
  background-color:#50D284 ;
  padding-left: 30px;
  padding-right: 30px;
}
.navbar-brand{
  font-weight: 900;
  font-size: larger;
}

p{
  border: #50D284;
  border-width: 1%;
  background-color: #50D284;
  margin: 2%;
  text-align: center;
  padding: 2%;
  font-weight: bolder;
  font-size: larger;
}

.form-group{
  margin: 1.3%;
}

.form{
  margin-bottom: 5%;
}

.car{
  display: none;
}