*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* background-color:#021613 ; */
}


.navbar{
  background-color:#50D284 !important;
  padding-left: 30px;
  padding-right: 30px;
}
.navbar-brand{
  font-weight: 900;
  font-size: larger;
}
.nav-item:hover{
 color: wheat;
}


.body,.card-deck{
  color: wheat;
  background-color:#021613 ;
}
.body{
  display: flex;
 justify-content: space-around;
}
.inside{
  padding-top: 90px;
  padding-left: 30px;
}
.inside button{
  margin-top: 40px;
  margin-left: 20px;
}
.login{
  background-color: black;
  border: 2px solid #50D284;
 
}
.card-deck{
  display: flex;
  justify-content:space-evenly;
  padding-top: 60px;
}
.begin{
  box-shadow: 10px 10px 5px 5px #50D284;
}
.card{
  box-shadow: 5px 10px 18px #50D284;
}
.card-body{
  background-color: #021613;
  color: wheat;
}
.btn{
  background-color: #50D284;
}
.final{
  padding-top: 70px;
  background-color: #021613;
  color: wheat;
}
.reach{
  position: relative;
  left: 42%;
  margin-bottom: 50px;
  margin-top: 20px;
}

.footer{
  background-color: #50D284;

}
@media screen and (max-width: 740px) {
  .body{
    flex-direction: column;
  }
  .begin{
    width: 300px;
  }
  .card-deck{
    flex-direction: column;
    align-items: center;
  
  }
  .reach{
    left: 30%;
  }
  
} 