body {
    background-color: #021613;
    font-family: "poppins";
  }
  
  h1 {
    margin-left: auto;
    margin-top: 50px;
    text-align: center;
    font-weight: 100;
    font-size: 2.8em;
    color: #ffffff;
    font-weight: bold;
  }
  
  div {
    width: 500px;
    margin: auto;
    
  }
  
  .formStyle { 
    background-color:#021613;
    padding: 20px; 
    width: 400px; 
    margin-bottom: 20px; 
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: #ecf0f1; 
    border-top-style: none; 
    border-right-style: none; 
    border-left-style: none; 
    font-size: 1em;
    color: #ffffff;
    
  }
  
  