/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

/* Global Styles */
* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

.profile {
    background-color: #0F221F;
    margin: 0;
}

.navbar {
    background-color: #50D284;
    padding-left: 30px;
    padding-right: 30px;
}

.navbar-brand {
    font-weight: 900;
    font-size: larger;
}

.profile .details .buttons button:nth-child(1) {
    background-color: transparent;
    border: 1px solid #3FA46A;
}

.profile .details .buttons button:nth-child(2) {
    background-color: #3FA46A;
}

.profile .details span {
    font-weight: 500;
}

.footer {
    background-color: #50D284;
}

@media screen and (max-width: 767px) {

    .profile .container .image,
    .profile .container .details {
        width: 100% !important;
        padding: 0 0.5rem !important;
    }

    .profile .container .image h1 {
        margin-top: 0 !important;
        padding-top: 2rem;
        text-align: center;
    }

    .profile .container .image .bio h2,
    .profile .container .image .bio p {
        text-align: center;
        margin-top: 2rem;
    }

    .profile .container .image .bio p {
        margin-bottom: 3rem;
    }

    .footer {
        margin-top: 4rem;
    }
}